@font-face {
  font-family: "icon";
  src: url('../iconfont/iconfont.woff2?t=1689088269030') format('woff2'),
       url('../iconfont/iconfont.woff?t=1689088269030') format('woff'),
       url('../iconfont/iconfont.ttf?t=1689088269030') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_kai:before {
  content: "\e64a";
}

.i_play:before {
  content: "\ea82";
}

.i_minimize:before {
  content: "\e65a";
}

.i_close:before {
  content: "\e61c";
}

.i_reduction:before {
  content: "\e696";
}

.i_maximize:before {
  content: "\e651";
}

